# Functions, Scoping, Data Collections 1 & List Comprehensions

## Tasks Today:

<i>Monday Additions (or, and ... if statements)</i>

1) String Manipulation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) strip() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) title() <br>
2) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br>
3) List Comprehensions <br>
4) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>
5) Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) User-Defined vs. Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Accepting Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Default Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Making an Argument Optional <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Keyword Arguments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) Returning Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) *args <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Docstring <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Using a User Function in a Loop <br>
6) Scope

### String Manipulation

##### .lstrip()

In [2]:
# string.lstrip()
name = "     hJohn Smith"

name.lstrip(" " "h")

'John Smith'

##### .rstrip()

In [3]:
# string.rstrip()
name = "Bill Rose     gh gh gh   "

name.rstrip(" " "gh")

'Bill Rose'

##### .strip()

In [6]:
# string.strip()
name = "      Ooga Mahomes  k    k  "
name = name.strip(" " "k")
print(name)

Ooga Mahomes

##### .title()

In [7]:
# string.title()
name = "john manziel"
print(name.title())

John Manziel

### String Exercise <br>
<p>Strip all white space and capitalize every name in the list given</p>

In [21]:
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
# HINT: You will need to use a for loop for iteration
new_list = []

for name in names:
   new_list.append(name.strip().title())
print(new_list)

['Connor', 'Max', 'Evan', 'Jordan']

### Working With Lists

##### min()

In [22]:
# min(list)
a_list = [45, 67, 80, 2 ,43, 10, 9 ,8]

min(a_list)

2

##### max()

In [23]:
# max(list)
a_list = [45, 67, 80, 2 ,43, 10, 9 ,8]

max(a_list)

80

##### sum()

In [24]:
# sum(list)
sum(a_list)

264

##### sorted()

In [29]:
# sorted(list)
b_list = [5, 6, 70, 3, 2, 4, 67]

sorted_b = sorted(b_list)
print(b_list)
print(sorted_b)

[5, 6, 70, 3, 2, 4, 67]
[2, 3, 4, 5, 6, 67, 70]

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

In [30]:
# list.sort()


# use sorted when you don't want to alter original list, use .sort() when you want to alter original list
b_list.sort()
print(b_list)

[2, 3, 4, 5, 6, 67, 70]

##### Copying a List

In [32]:
# [:] copies a list, doesn't alter original
c_list = b_list[:]
c_list

[2, 3, 4, 5, 6, 67, 70]

##### 'in' keyword

In [37]:
ct_instructors = ["Nate", "Derek", "Sam", "Brian", "Terrell", "LeBron"]

if "Sam" in ct_instructors:
    print("Sam is an instructor")
else:
    print("Sam is not an instructor")
    
    
    
    
for teacher in ct_instructors:
    if teacher[0] == 'B':
        print(f"{teacher}'s name starts with B")
    else:
        print(f"{teacher} does not start with B")

Sam is an instructor
Nate does not start with B
Derek does not start with B
Sam does not start with B
Brian's name starts with B
Terrell does not start with B
LeBron does not start with B

##### 'not in' keyword

In [38]:
if "Zack" not in ct_instructors:
    print("No one named Zack in here")
else:
    print("Zack has worked here for years")orked here for yearsorked here for years

No one named Zack in here

##### Checking an Empty List

In [43]:
# if l_1: or if 
l_1 =[]
if l_1 == []:
    print("this is empty")
    
if l_1:
    print("This is a list")
else:
    print("Not so much")

this is empty
Not so much

##### Removing Instances with a Loop

In [44]:
# while, remove

names = ['Connor', 'Jeff', 'Brian', 'Nate', 'Evan', 'Jesse', 'Nate', 'Nate']

for name in names:
    if name == "Nate":
        names.remove(name)
print(names)

['Connor', 'Jeff', 'Brian', 'Evan', 'Jesse', 'Nate']

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

In [52]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
# Hint 1: You will need an append
# Hint 2: Using an empty list will make life easier

names2 = []

for names in names:
    if name not in names2:
        names2.append(name)
print(names2)
#pretty sure an older list is messing with this example's output.

['Nate']

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

##### In a list comprehension we have a few pieces:
1. The first is the counter/ variable - IN this the variable is x
2. then we have a transform for the variable
3. The finale part of a list comp is called the condition

```python
    [variable, transform, condition]
```

In [57]:
# number comprehension

# With a regular for loop
nums = []

for i in range(100):
    nums.append(i)
print(nums)

# List Comprehension version

nums_comp = [i for i in range(100)]
print(nums_comp)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

In [59]:
# square number comprehension

squares_comp = [x**2 for x in range(10)]
print(squares_comp)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [62]:
# string comprehension
names = ['Connor', 'Jeff', 'Brian', 'Evan', 'Jesse']

first_letter = []

for name in names:
    first_letter.append(name[0])
print(first_letter)

['C', 'J', 'B', 'E', 'J']

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

In [65]:
tup_1 = 1,2,3
tup_2 = (4,5,6)
tup_2

(4, 5, 6)

##### sorted()

In [66]:
tup_5 = (10, 17, 55, 90, 104, 8)
sorted_tup = sorted(tup_5)

print(sorted_tup)

[8, 10, 17, 55, 90, 104]

##### Adding values to a Tuple

In [68]:
tup_5 + (5,)

print(tup_5)

(10, 17, 55, 90, 104, 8)

## Functions

##### User-Defined vs. Built-In Functions

In [71]:
def say_hello():
    return "Hello World!"

say_hello()

'Hello World!'

##### Accepting Parameters

In [75]:
def printfullname(first_name, last_name):
    return f'{first_name} {last_name}'

printfullname("JD", "Fallon")

'JD Fallon'

##### Default Parameters

In [77]:
def printAgentName(first_name, last_name = 'Bond'):
    return f'{first_name} {last_name}'

printAgentName("JD")

'JD Bond'

##### Making an Argument Optional

In [84]:
def printFullName(first, last, middle = ""):
    return first + " " + f'{middle} ' + last

printFullName('John', "Smith", "Jacob")

'John JacobSmith'

##### Keyword Arguments

In [ ]:
# last_name='Max', first_name='Smith' in the function call

# see above

# Creating a start, stop, step function

In [90]:
def my_range(stop, start=0, step=1000):
    for i in range(start, stop, step):
        print(i)
my_range(1000000)

0
1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000
34000
35000
36000
37000
38000
39000
40000
41000
42000
43000
44000
45000
46000
47000
48000
49000
50000
51000
52000
53000
54000
55000
56000
57000
58000
59000
60000
61000
62000
63000
64000
65000
66000
67000
68000
69000
70000
71000
72000
73000
74000
75000
76000
77000
78000
79000
80000
81000
82000
83000
84000
85000
86000
87000
88000
89000
90000
91000
92000
93000
94000
95000
96000
97000
98000
99000
100000
101000
102000
103000
104000
105000
106000
107000
108000
109000
110000
111000
112000
113000
114000
115000
116000
117000
118000
119000
120000
121000
122000
123000
124000
125000
126000
127000
128000
129000
130000
131000
132000
133000
134000
135000
136000
137000
138000
139000
140000
141000
142000
143000
144000
145000
146000
147000
148000
149000
150000
151000
152000
153000
154000
155000
156000
157000
158000
159000
160000
161000
162000
163000
164000
165000
166000
167000
168000
169000
170000
171000
172000
173000
174000
175000
176000
177000
178000
179000
180000
181000
182000
183000
184000
185000
186000
187000
188000
189000
190000
191000
192000
193000
194000
195000
196000
197000
198000
199000
200000
201000
202000
203000
204000
205000
206000
207000
208000
209000
210000
211000
212000
213000
214000
215000
216000
217000
218000
219000
220000
221000
222000
223000
224000
225000
226000
227000
228000
229000
230000
231000
232000
233000
234000
235000
236000
237000
238000
239000
240000
241000
242000
243000
244000
245000
246000
247000
248000
249000
250000
251000
252000
253000
254000
255000
256000
257000
258000
259000
260000
261000
262000
263000
264000
265000
266000
267000
268000
269000
270000
271000
272000
273000
274000
275000
276000
277000
278000
279000
280000
281000
282000
283000
284000
285000
286000
287000
288000
289000
290000
291000
292000
293000
294000
295000
296000
297000
298000
299000
300000
301000
302000
303000
304000
305000
306000
307000
308000
309000
310000
311000
312000
313000
314000
315000
316000
317000
318000
319000
320000
321000
322000
323000
324000
325000
326000
327000
328000
329000
330000
331000
332000
333000
334000
335000
336000
337000
338000
339000
340000
341000
342000
343000
344000
345000
346000
347000
348000
349000
350000
351000
352000
353000
354000
355000
356000
357000
358000
359000
360000
361000
362000
363000
364000
365000
366000
367000
368000
369000
370000
371000
372000
373000
374000
375000
376000
377000
378000
379000
380000
381000
382000
383000
384000
385000
386000
387000
388000
389000
390000
391000
392000
393000
394000
395000
396000
397000
398000
399000
400000
401000
402000
403000
404000
405000
406000
407000
408000
409000
410000
411000
412000
413000
414000
415000
416000
417000
418000
419000
420000
421000
422000
423000
424000
425000
426000
427000
428000
429000
430000
431000
432000
433000
434000
435000
436000
437000
438000
439000
440000
441000
442000
443000
444000
445000
446000
447000
448000
449000
450000
451000
452000
453000
454000
455000
456000
457000
458000
459000
460000
461000
462000
463000
464000
465000
466000
467000
468000
469000
470000
471000
472000
473000
474000
475000
476000
477000
478000
479000
480000
481000
482000
483000
484000
485000
486000
487000
488000
489000
490000
491000
492000
493000
494000
495000
496000
497000
498000
499000
500000
501000
502000
503000
504000
505000
506000
507000
508000
509000
510000
511000
512000
513000
514000
515000
516000
517000
518000
519000
520000
521000
522000
523000
524000
525000
526000
527000
528000
529000
530000
531000
532000
533000
534000
535000
536000
537000
538000
539000
540000
541000
542000
543000
544000
545000
546000
547000
548000
549000
550000
551000
552000
553000
554000
555000
556000
557000
558000
559000
560000
561000
562000
563000
564000
565000
566000
567000
568000
569000
570000
571000
572000
573000
574000
575000
576000
577000
578000
579000
580000
581000
582000
583000
584000
585000
586000
587000
588000
589000
590000
591000
592000
593000
594000
595000
596000
597000
598000
599000
600000
601000
602000
603000
604000
605000
606000
607000
608000
609000
610000
611000
612000
613000
614000
615000
616000
617000
618000
619000
620000
621000
622000
623000
624000
625000
626000
627000
628000
629000
630000
631000
632000
633000
634000
635000
636000
637000
638000
639000
640000
641000
642000
643000
644000
645000
646000
647000
648000
649000
650000
651000
652000
653000
654000
655000
656000
657000
658000
659000
660000
661000
662000
663000
664000
665000
666000
667000
668000
669000
670000
671000
672000
673000
674000
675000
676000
677000
678000
679000
680000
681000
682000
683000
684000
685000
686000
687000
688000
689000
690000
691000
692000
693000
694000
695000
696000
697000
698000
699000
700000
701000
702000
703000
704000
705000
706000
707000
708000
709000
710000
711000
712000
713000
714000
715000
716000
717000
718000
719000
720000
721000
722000
723000
724000
725000
726000
727000
728000
729000
730000
731000
732000
733000
734000
735000
736000
737000
738000
739000
740000
741000
742000
743000
744000
745000
746000
747000
748000
749000
750000
751000
752000
753000
754000
755000
756000
757000
758000
759000
760000
761000
762000
763000
764000
765000
766000
767000
768000
769000
770000
771000
772000
773000
774000
775000
776000
777000
778000
779000
780000
781000
782000
783000
784000
785000
786000
787000
788000
789000
790000
791000
792000
793000
794000
795000
796000
797000
798000
799000
800000
801000
802000
803000
804000
805000
806000
807000
808000
809000
810000
811000
812000
813000
814000
815000
816000
817000
818000
819000
820000
821000
822000
823000
824000
825000
826000
827000
828000
829000
830000
831000
832000
833000
834000
835000
836000
837000
838000
839000
840000
841000
842000
843000
844000
845000
846000
847000
848000
849000
850000
851000
852000
853000
854000
855000
856000
857000
858000
859000
860000
861000
862000
863000
864000
865000
866000
867000
868000
869000
870000
871000
872000
873000
874000
875000
876000
877000
878000
879000
880000
881000
882000
883000
884000
885000
886000
887000
888000
889000
890000
891000
892000
893000
894000
895000
896000
897000
898000
899000
900000
901000
902000
903000
904000
905000
906000
907000
908000
909000
910000
911000
912000
913000
914000
915000
916000
917000
918000
919000
920000
921000
922000
923000
924000
925000
926000
927000
928000
929000
930000
931000
932000
933000
934000
935000
936000
937000
938000
939000
940000
941000
942000
943000
944000
945000
946000
947000
948000
949000
950000
951000
952000
953000
954000
955000
956000
957000
958000
959000
960000
961000
962000
963000
964000
965000
966000
967000
968000
969000
970000
971000
972000
973000
974000
975000
976000
977000
978000
979000
980000
981000
982000
983000
984000
985000
986000
987000
988000
989000
990000
991000
992000
993000
994000
995000
996000
997000
998000
999000

##### Returning Values

In [92]:
def addNums(num1,num2):
    return num1 + num2

addNums(2,6)

8

##### *args

In [97]:
def printArgs(num1, *args, **kwargs):
    print(num1)
    print(args)
    print(kwargs)
    
    for arg in args:
        print(arg)
        
    for kwarg in kwargs:
        print(kwarg)
    
printArgs(3, "Nate", "Coding Temple", "45", [1,2,3], city="Chicago", food="Hotdog", age="23")

3
('Nate', 'Coding Temple', '45', [1, 2, 3])
{'city': 'Chicago', 'food': 'Hotdog', 'age': '23'}
Nate
Coding Temple
45
[1, 2, 3]
city
food
age

# DOCSTRING BELOW

In [102]:
def printNames(list_1):
    """
        Fuction requires a list to be passed as a parameter
        and will print the contents of the list. Expecting a list
        of names(strings) to be passed.
    """
    for name in list_1:
        print(name)

some_list = ['Marcus', 'Kevin', 'Sam', 'Nate']
printNames(some_list)
help(printNames)

Marcus
Kevin
Sam
Nate
Help on function printNames in module __main__:

printNames(list_1)
    Fuction requires a list to be passed as a parameter
    and will print the contents of the list. Expecting a list
    of names(strings) to be passed.

##### Using a User Function in a Loop

In [106]:
def addOne(num):
    print(num+1)
    
while True:
    response = int(input('What is your number?'))
    print('here is your number + 1:')
    
    addOne(response)
    
    quit = input('Ready to quit? press q')
    if quit == 'q':
        break

What is your number?9
here is your number + 1:
10
Ready to quit? press qno
What is your number?0
here is your number + 1:
1
Ready to quit? press qno
What is your number?3
here is your number + 1:
4
Ready to quit? press qno
What is your number?4
here is your number + 1:
5
Ready to quit? press qq

## Function Exercise <br>
<p>Write a function that loops through a list of first_names and a list of last_names, combines the two and return a list of full_names</p>

In [120]:
first_name = ['John', 'Evan', 'Jordan', 'Max']
last_name = ['Smith', 'Smith', 'Williams', 'Bell']

# Output: ['John Smith', 'Evan Smith', 'Jordan Williams', 'Max Bell']

def fullNameMaker(list_a, list_b):
    for names in list:
        return list_a[0] + " " + list_b[0]
    
fullNameMaker(first_name, last_name)

TypeError: 'type' object is not iterable

## Scope <br>
<p>Scope refers to the ability to access variables, different types of scope include:<br>a) Global<br>b) Function (local)<br>c) Class (local)</p>

In [123]:
number = 3

def myFunction():
    my_num = 17
    return my_num

myFunction()

17

# Exercises

## Exercise 1 <br>
<p>Given a list as a parameter,write a function that returns a list of numbers that are less than ten</b></i></p><br>
<p> For example: Say your input parameter to the function is [1,11,14,5,8,9]...Your output should [1,5,8,9]</p>

In [150]:
# Use the following list - [1,11,14,5,8,9]
#output should be: [1, 5, 8, 9]

l_1 = [1,11,14,5,8,9]
l_2 = []

def lessThanTen(a_list):
    for i in a_list:
        if i < 10:
            return l_2.append(i)
        
lessThanTen(l_1)
print(l_2)

[1]

## Exercise 2 <br>
<p>Write a function that takes in two lists and returns the two lists merged together and sorted<br>
<b><i>Hint: You can use the .sort() method</i></b></p>

In [154]:
l_1 = [1,2,3,4,5,6]
l_2 = [3,4,5,6,7,8,10]

def listMerge(listC, listD):
       return sorted(listC + listD)

listMerge(l_1, l_2)

[1, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 8, 10]